<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id"
        content="297251261422-07oc89e0nu1ltguj0u1emtbd4v4vmjlm.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <title>Security App</title>
</head>

<body>
    <h1>WELCOME</h1>

    <div class="g-signin2" data-onsuccess="onSignIn"></div><br>
    <script>
        function onSignIn(googleUser) {
            var id_token = googleUser.getAuthResponse().id_token;

            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/auth');
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onload = function () {
                console.log('Signed in as: ' + xhr.responseText);
                if (xhr.responseText == 'success') {
                    signOut();
                    // location.assign('');
                }
            };
            xhr.send(JSON.stringify({ token: id_token }));
        }
    </script>
    
    <div><a href="#" onclick="signOut();">Sign out</a></div>
    <script>
        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                console.log('User signed out');
            });
        }
    </script>
</body>

</html>